* {
  margin: 0;
}

body {
  background-color: #f6f6f6;
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.875rem;
  font-weight: 400;
  color: #101010;
}
@media (min-width: 850px) {
  h1 {
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-size: 1.125em;
  font-weight: 300;
}

a {
  color: #000000;
}

.btn {
  position: relative;
  border: none;
  border-radius: 1.563em;
  padding: 0.813em 1.188em;
  font-weight: 500;
  font-size: 1em;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
  min-width: 11.625em;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.563em;
  opacity: 0;
  transition: opacity 300ms ease-out;
  will-change: opacity;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background-color: rgba(255, 255, 255, 0.15);
}
.btn:hover::after {
  opacity: 1;
}

.functioning-cards {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1.25em;
  padding: 1.75em 0;
  margin-left: 0.75em;
  gap: 1.375em;
}
@media (min-width: 850px) {
  .functioning-cards {
    flex: 1;
  }
}
.functioning-cards__title {
  font-size: 1em;
  font-weight: 500;
}
.functioning-cards__number {
  position: relative;
  color: #ffffff;
  font-size: 0.875em;
  font-weight: 500;
  padding: 0.25em 0.5em;
  background-color: #9356dc;
  border-radius: 50%;
  margin-left: -0.75em;
}

.restaurants-cards {
  border-radius: 0.938em;
  overflow: hidden;
}
.restaurants-cards__link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: normal;
  position: relative;
  height: 66.93vw;
}
@media (min-width: 850px) {
  .restaurants-cards__link {
    height: 15.688em;
  }
}
.restaurants-cards__img {
  width: 100%;
  height: 61.6vw;
  object-fit: cover;
}
@media (min-width: 850px) {
  .restaurants-cards__img {
    height: 14.438em;
  }
}
.restaurants-cards__new {
  position: absolute;
  top: 0.813em;
  right: 0.75em;
  z-index: 2;
  background-color: #99e2d0;
  color: #008766;
  padding: 0.438em 0.625em 0.375em 0.625em;
  border-radius: 0.125em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.restaurants-cards__content {
  background-color: #ffffff;
  padding: 1em 1.563em 0.75em 0.813em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants-cards__content .restaurants-cards__title {
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 0.25em;
}
.restaurants-cards__content .restaurants-cards__subtitle {
  font-size: 1.063em;
}

@keyframes animated-cards {
  0% {
    transform: translateY(-71px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animation-1 {
  animation: forwards animated-cards 250ms;
  animation-delay: 0ms;
}

.animation-2 {
  animation: forwards animated-cards 250ms;
  animation-delay: 250ms;
}

.animation-3 {
  animation: forwards animated-cards 250ms;
  animation-delay: 500ms;
}

.animation-4 {
  animation: forwards animated-cards 250ms;
  animation-delay: 750ms;
}

.animation-5 {
  animation: forwards animated-cards 250ms;
  animation-delay: 1000ms;
}

.animation-6 {
  animation: forwards animated-cards 250ms;
  animation-delay: 1250ms;
}

.animation-7 {
  animation: forwards animated-cards 250ms;
  animation-delay: 1500ms;
}

.animation-8 {
  animation: forwards animated-cards 250ms;
  animation-delay: 1750ms;
}

.animation-9 {
  animation: forwards animated-cards 250ms;
  animation-delay: 2000ms;
}

.animation-10 {
  animation: forwards animated-cards 250ms;
  animation-delay: 2250ms;
}

.menu-cards {
  display: flex;
  border-radius: 0.938rem;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: translateY(-71px);
}
.menu-cards__content-contenair {
  padding: 0.813rem 0.938rem;
  flex: 1;
  overflow: hidden;
  text-wrap: nowrap;
}
.menu-cards__title {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.313rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards__sub-and-amount-contenair {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.menu-cards__subtitle {
  font-weight: 300;
  font-size: 0.938rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-cards__amount {
  font-weight: bold;
  font-size: 0.938rem;
  color: #353535;
}
.menu-cards::after {
  content: "";
  width: 0;
  transition: width 250ms ease-out;
}
.menu-cards::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #99e2d0;
  background-image: url("./../../assets/images/logo/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 0.938rem;
  border-bottom-right-radius: 0.938rem;
  transform: translateX(100%);
  transform-origin: right;
  width: 59px;
  height: 100%;
  transition: transform 250ms ease-out;
}
.menu-cards:hover::after {
  width: 59px;
}
.menu-cards:hover::before {
  transform: translateX(0);
}

@keyframes heart {
  0% {
    transform: scale(0, 0);
  }
  60% {
    transform: scale(1.4, 1.4);
  }
  100% {
    transform: scale(1, 1);
  }
}
.like {
  height: 21px;
  width: 23px;
  background-image: url("./../../assets/images/logo/like.png");
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}
.like::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 21px;
  background-image: url("./../../assets/images/logo/union.png");
  background-repeat: no-repeat;
  transform: scale(0, 0);
  transform-origin: center;
}
.like:hover::after {
  animation: heart 200ms forwards;
}

@keyframes loading {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes container {
  to {
    z-index: -10;
    opacity: 0;
  }
}
.loader {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  background-color: #f6f6f6;
  animation: container 1000ms forwards;
  animation-delay: 1000ms;
}
.loader__border {
  height: 1.875em;
  width: 18.75em;
  border-radius: 1.563em;
  border: solid 2px #ff79da;
  padding: 0.25em;
}
.loader__bar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1.563em;
  overflow: hidden;
}
.loader__bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  transform-origin: left;
  animation: loading 1000ms;
}

.header {
  text-align: center;
  padding-top: 0.875rem;
  padding-bottom: 0.313rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
}
@media (min-width: 850px) {
  .header {
    box-shadow: none;
    padding-top: 1.438rem;
    padding-bottom: 1.563rem;
  }
}
.header__arrow {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
}

.footer {
  padding: 1.375rem 1.563rem;
  background-color: #353535;
}
.footer__title {
  font-family: "Shrikhand", serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 850px) {
  .footer__title {
    order: 2;
  }
}
@media (min-width: 850px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    padding: 3.5rem 3.75rem 1.875rem 2rem;
  }
}

.footer-content-contenair {
  display: flex;
  flex-direction: column;
  gap: 0.438rem;
  margin-top: 1rem;
}
@media (min-width: 850px) {
  .footer-content-contenair {
    flex-direction: row;
    gap: 1rem;
  }
}
.footer-content-contenair__link {
  position: relative;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  margin-right: auto;
}
.footer-content-contenair__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}
.footer-content-contenair__link:hover::after {
  transform: scaleX(1);
}
@media (min-width: 850px) {
  .footer-content-contenair {
    margin: 0;
    gap: 2.625rem;
  }
}

.partnership-contenair {
  display: flex;
  flex-direction: column;
  gap: 0.438rem;
}
@media (min-width: 850px) {
  .partnership-contenair {
    flex-direction: row;
    gap: 1rem;
  }
}
.partnership-contenair__link {
  position: relative;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
  margin-right: auto;
}
.partnership-contenair__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}
.partnership-contenair__link:hover::after {
  transform: scaleX(1);
}

.contact-contenair {
  display: flex;
  flex-direction: column;
  gap: 0.438rem;
}
@media (min-width: 850px) {
  .contact-contenair {
    flex-direction: row;
    gap: 1rem;
  }
}
.contact-contenair__link {
  position: relative;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  margin-right: auto;
}
.contact-contenair__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125em;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}
.contact-contenair__link:hover::after {
  transform: scaleX(1);
}

.location-container {
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1em;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media (min-width: 850px) {
  .location-container {
    box-shadow: none;
  }
}
.location-container__content {
  font-size: 1em;
  font-weight: 500;
  color: #353535;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  padding: 2.5em 1.25em 3.5em 1.25em;
  text-align: center;
  background-color: #f6f6f6;
}
@media (min-width: 850px) {
  .main-section {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
  }
}
@media (max-width: 449px) {
  .main-section__title {
    max-width: 250px;
    margin: auto;
  }
}
@media (min-width: 850px) {
  .main-section__title {
    font-size: 2.5em;
  }
}
.main-section__subtitle {
  margin-top: 1em;
  margin-bottom: 1.75em;
  color: #353535;
}
@media (min-width: 850px) {
  .main-section__subtitle {
    margin: 1.125em 0;
  }
}

.functioning-section {
  background-color: #ffffff;
  padding: 3em 1.25em 4.25em 1.25em;
}
@media (min-width: 850px) {
  .functioning-section {
    padding: 3.125em 1.25em;
    max-width: 67.5em;
    margin: auto;
  }
}

.functioning-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.5em;
  margin-top: 1.625em;
}
@media (min-width: 850px) {
  .functioning-container {
    flex-direction: row;
  }
}

.restaurants-section {
  padding: 3.375em 1.125em 4.125em 1.125em;
  background-color: #f6f6f6;
}
@media (min-width: 850px) {
  .restaurants-section {
    padding: 1.875em 1.25em;
  }
  .restaurants-section__wrapper {
    max-width: 67.5em;
    margin: auto;
  }
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 1.125em;
  margin-top: 1.25em;
}
@media (min-width: 850px) {
  .restaurants-container {
    margin-top: 1.75em;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: min(3.47vw, 3.125em) min(6.94vw, 6.25em);
  }
}

main {
  background-color: #ffffff;
}

.main-img-contenair {
  height: 17.125rem;
  overflow: hidden;
}
@media (min-width: 850px) {
  .main-img-contenair {
    height: 23.875rem;
  }
}

.main-img {
  height: 17.125rem;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 850px) {
  .main-img {
    transform: translateY(-8rem);
    min-height: 32rem;
    height: 26.6vw;
  }
}

.menu-section {
  padding: 2rem 0.875rem 2.5rem 0.875rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -3.375rem;
}
@media (min-width: 850px) {
  .menu-section {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.75rem;
  padding-left: 0.25rem;
  margin-bottom: 2.25rem;
}
.menu-header__title {
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 850px) {
  .menu-header {
    justify-content: center;
    gap: 1.563rem;
  }
}

@media (min-width: 850px) {
  .course-article {
    max-width: 39.625rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.course-title {
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  padding-bottom: 0.75rem;
  text-transform: uppercase;
}
.course-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.5rem;
  height: 3px;
  background-color: #99e2d0;
}

.menu-cards-contenair {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}

.restaurants-btn {
  padding: 1rem 3rem;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=main.css.map */
