// color
$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$location-background-color: #eaeaea;
$green-font-color: #008766;
$black-color: #101010;
$grey-color: #353535;
$btn-gradient-color: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
$btn-text-color: #ffffff;
$btn-hover-color: #ffffff;
